.header {
  background: linear-gradient(94.25deg, #427FD4 1.55%, #64A4EF 98.46%); }
  .header__top-bar {
    padding: 2.5rem 0rem 2.5rem 0rem; }
  .header__inner {
    padding-top: 5rem;
    padding-bottom: 9rem; }
